body {
  text-align: center;
}

.productContainer {
  display: flex;
  flex-wrap: wrap;
}

.productContainer > .link {
  width: 300px;
  text-align: center;
  box-shadow: 0px 0px 10px #d3bebe;
  margin: 10px;
}
.productContainer > .link:hover {
  box-shadow: 0px 0px 10px #d3bebe;
  background-color: lightgray;
}

.linkNames {
  margin-right: 10px;
  color: #efefef;
}
